{% extends 'common.html' %}
{% load custom_filters %}
{% block links %}
{% endblock %}

{% block css %}
    .gallery {
        width: 100%;
    }

    .row {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .item {
        float: left;
        width: 25%;
        box-sizing: border-box;
        padding: 0 5px;
    }

    .item img {
        width: 100%;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item:hover .overlay {
        opacity: 1;
    }

    .overlay-text {
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        padding: 20px;
    }

    .overlay.show {
        opacity: 1;
    }

    .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .pagination-link {
      margin: 0 5px;
      padding: 5px 10px;
      color: #333;
      text-decoration: none;
      border: 1px solid #ccc;
      border-radius: 3px;
      transition: background-color 0.3s;
    }

    .pagination-link:hover {
      background-color: #f9f9f9;
    }
{% endblock %}

{% block content %}
    <div style="margin: 30px auto">
        <form method="get">
    {#        {% csrf_token %}#}
{#           {{ form }}#}
             <span>{{ form.start_date.label_tag }}{{ form.start_date }}{{ form.end_date.label_tag }}{{ form.end_date }}</span>
            <span>{{ form.location.label_tag }}{{ form.location }}</span>
             <span>{{ form.description.label_tag }}{{ form.description }}</span>
            {% include 'multi_search.html' with form_field=form.bird_id%}
            <input type="submit" value="submit">
        </form>
    </div>

    <div class="gallery">
        {% if result.count == 0 %}
            <div>Nobody here but us chickens!</div>
        {% endif %}
        {% for item in result %}
        	{% cycle '<div class="row">' '' '' '' %}
            <div class="item">
                <a href="{{ item.ori_src }}" target="_blank">
                    <img src="{{ item.src }}" alt="{{ item.src }} Image">
                    <div class="overlay">
                        <div class="overlay-text">
{#                        {{ item.bird_id | id_get_bird_whole_name }}#}
{#                            {% if item.eng_species %}#}
{#                            	{{ item.eng_species }}#}
{#                            {% else %}#}
{#                                {{ item.chi_species }}#}
{#                            {% endif %}#}
                             {{ item | img_get_species }}: {{ item.description }}
                        </div>
                    </div>
                </a>
            </div>
            {% cycle '' '' '' '</div>' %}
        {% endfor %}
    </div>
    <div class="pagination">
        {% if result.has_previous %}
            <a href="?page=1" class="pagination-link">&laquo;</a>
            <a href="?page={{ result.previous_page_number }}" class="pagination-link">&lsaquo;</a>
        {% endif %}

        <span class="current-page">{{ result.number }}</span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}" class="pagination-link">&rsaquo;</a>
            <a href="?page={{ result.paginator.num_pages }}" class="pagination-link">&raquo;</a>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var items = document.querySelectorAll('.item');
            items.forEach(function(item) {
                item.addEventListener('click', function() {
                    this.querySelector('.overlay').classList.toggle('show');
                });
            });
        });
    </script>
{% endblock %}